@import "tailwindcss";

/* Dine egne styles herunder */
body {
  margin: 0;
  background-color: #020617; /* slate-950 */
  color: #f1f5f9;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}
